services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_PASSWORD
      - POSTGRES_USER
      - POSTGRES_DB
    ports:
      - '127.0.0.1:5432:5432'
      - '10.100.0.3:5432:5432'
    volumes:
      - './.dev/data:/var/lib/postgresql/data'
